<br/>
<div class="jumbotron">
  <h1>SupremeA's Bloccit<h1>
    <p>SupremeA's Bloccit is a way to share ideas and resources with the world!</p>
    <p>
      <%= link_to "Sign In Here!", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Changes the Energy Industry</h2>
    <p>SupremeA's Bloccit will change the way energy is produced, all over the world.
    <%= link_to "Learn More", posts_path, class: 'small' %></p>
  </div>

  <div class="col-md-4">
    <h2>Creates a new way to sell Real Estate</h2>
    <p>SupremeA's Bloccit will add social interaction to the Real Estate Sales process
    <%= link_to "Learn More", posts_path, class: 'small' %></p>
  </div>

  <div class="col-md-4">
    <h2>Creates a massive new marketplace</h2>
    <p>SupremeA's Bloccit has a massive real estate marketplace with over 1 million view daily!
    <%= link_to "Learn More", posts_path, class: 'small' %></p>
  </div>
</div>
